@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap");
@import "tailwindcss";

@theme {
    --color-primarytxt: #C7D2D2;
    --font-serif: 'Playfair Display', serif;
    --font-cormorant: 'Cormorant Garamond', serif;
}