@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap");
@import "tailwindcss";

@theme {
    --color-primarytxt: #C7D2D2;
    --color-second-background: #C7D2D2;
    --color-secondtxt: #35686D;
    --font-serif: 'Playfair Display', serif;
    --font-cormorant: 'Cormorant Garamond', serif;
    --breakpoint-mm: 900px;
    --breakpoint-xm: 1480px;
    --backgroundImage-imgsalaInt: url('/images/salaInt.png');
}